@model IEnumerable<doan_1.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@if (User.IsInRole("Admin") == true)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider.ProviderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher.PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublisherDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provider.ProviderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookPrice)
                </td>
                <td style="overflow:hidden">
                    @Html.DisplayFor(modelItem => item.BookDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublisherDate)
                </td>
                <td>
                    <img src="@Url.Content(item.Image)" style="height:200px ;width:200px;" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BookID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookID })
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>
        <div class="container view_book_wrapper">
            <div class="banner_top">
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <div class="numbertext">1 / 3</div>
                        <img src="~/Content/Images/book_banner1.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <div class="numbertext">2 / 3</div>
                        <img src="~/Content/Images/book_banner2.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <div class="numbertext">3 / 3</div>
                        <img src="~/Content/Images/book_banner3.jpg" style="width:100%">
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card item_book">
                            <a href="@Url.Action("Details", "Book", new { id = item.BookID })">
                                <img class="img_book" src="@Url.Content(item.Image)" />
                            </a>

                            <div class="name_book">@Html.DisplayFor(modelItem => item.BookName)</div>
                            <div class="price_book">
                                <a href="/ShoppingCart/AddToCart/@item.BookID" class="glyphicon glyphicon-shopping-cart">
                                </a>
                                @Html.DisplayFor(modelItem => item.BookPrice, ".ToString(N0)")&dstrok;
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <script>    
        var slideIndex = 1;
        showSlides(slideIndex);
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
}
